<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--  Database connection settings  -->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/projetobd?useSSL=false</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">35336222</property>
    <!-- SQL  dialect -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <!-- Echo all executed SQL -->
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">false</property>
    <!-- Drop and re-create the database schema on startup -->
    <property name="hibernate.hbm2ddl.auto">update</property>
    <!-- Names the annotated entity class -->
    <mapping class="projeto.hibernate.modelo.Usuario"/>
    <mapping class="projeto.hibernate.modelo.Veiculo"/>
    <mapping class="projeto.hibernate.modelo.Funcionario"/>
    <mapping class="projeto.hibernate.modelo.Viagem"/>
    <mapping class="projeto.hibernate.modelo.Endereco"/>
  </session-factory>
</hibernate-configuration>
